<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="property_file">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{6} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <RollingFile name="FileRolling" fileName="../webapps/audiotracks/logs/XML.log" append="true"
                     filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}.txt">
            <PatternLayout pattern="${property_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 K"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="FileRolling"/>
        </Root>
    </Loggers>
</Configuration>
